.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.color-p{
  color: #23a696;
}

.botones{
  color: white;
  background-color:#23a696; 
  width: 90px;
  height: 40px;
 font-size: 20px;
 border:#23a696 ;
}

.cards{
display: inline-block;
align-items:center;
justify-content: space-around;
font-family: 'Courier New', Courier, monospace;
}

.detalleItems{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  font-family: 'Courier New', Courier, monospace;

}

.descripcionItems{
  background-color: rgb(218, 215, 215);
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
